html,body {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    background-color: $white-cl;
    position: relative;
    @include custom-scrollbar();
    .mainwrapper{
        width: 100%;
        margin: auto;
        section{
            padding:$pdSection 0;
        }
    }
}
.pd{
    padding-top: $pdSection;
}
.textbox{
    @include mid-flex-column;
    align-items: flex-start;
    padding-top: 90px;
    padding-left: 97px;
    padding-right: 92px;
    .titlemain{
        color: $black-cl;
        font-size: $fz-title;
        position: relative;
        
        &::before{
            margin-right: 10px;
            width: 80px;
            height: 2px;
            content: "";
            background-color: $yellow-cl;
            position: absolute;
            left:-41%;
            top: 50%;
        }
    &.-yellow{
            text-transform: uppercase;
            color: $yellow-cl;
        }
    }
    .description{
        font-size: $fz-text;
        color: $text-cl;
        line-height: $lh-text;
        padding: 22px 0 30px 0;
    &.--white{
        color: $white-cl;
    }
    }
    .btmain{
        @include mid-flex
        span{
            font-size: $fz-text;
            color: $black-cl;
            letter-spacing: 2px;
            transition: transform;
            transform: translateX(0);
            transition-duration: $t;
            font-family: PR ;
            font-weight: 600;
        }
        img{
            width: 30px;
            padding-left: 10px;
            transition: transform;
            transform: translateX(0);
            transition-duration: $t;
        }
        &:hover { span{
            transform: translateX(-5px);
                  }
                img{
                    transform: translateX(5px);
                }

        }
    }
&.--textright{
    @include mid-flex-column;
    align-items: flex-end;
    .description {
        text-align: end;
    }
}
&.--textcenter{
    @include mid-flex-column;
    text-align: center;
    max-width:500px ;
    padding: 0;
    .titlemain{
        &::before{
        margin-right: 10px;
        width: 38px;
        height: 4px;
        content: "";
        background-color: #bea67c;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        }
    }
    .description{
        padding: 50px 0 65px 0;
    }
}
}
.btnctr{
    transition: background-color;
    transition-duration: $t;
    transition-timing-function: ease-in;
    &:hover{
        background-color: $yellow-cl;
    }
}
@keyframes mousearrow{
    from {
        transform: translateY(0);
        opacity: 0;
    } to {
        transform: translateY(40%);
        opacity: 1;
    }
}
.btn{
    @include mid-flex;
    justify-content: center;
    width: 250px;
    height: 50px ;
    border: solid 1px $white-cl;
    position: relative;
    overflow: hidden;
        span{
            color: $white-cl;
            font-size: $fz-text;
            text-transform: uppercase;
            transition: color;
            transition-duration: 1.5s;}
    &::before{
        content:'';
        position: absolute;
        width: 10%;
        height: 0%;
        background-color:$white-cl;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: all;
        transition-duration: $t;
        transition-timing-function: cubic-bezier(.17,1.13,.96,.12);
        z-index: -1;
    }
    &:hover{
        span{color: $black-cl;}
        &::before{
        height: 600%;
        width: 100%;
        transform: translate(-50%, -50%)  rotate(90deg) ;
        }
    }
};
.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    max-width: $container-width;
    margin:  0 auto;
}

// Mobile 
@media (max-width:739px) {
    .container{
        max-width: 100%;
    }
}
// Tablet 
@media (min-width:740px) and (max-width:1023px){
    .container{
        max-width: 644px;
    }
}
// Mobile and Tablet  
@media (max-width :1023px){

}

//Laptop 
@media (min-width : 1024px) and (max-width : 1239px){
    .container{
        max-width: 984px;
    }
}