// Primary-color 
$white-cl :#fff;
$black-cl : #000;

$yellow-cl : #bea67c;
$gray-cl : #303030;
// Global-text -color 
$text-cl : #010101;

// Global-bg-cl
$main-bg-cl : #fff;
// time transition 

$t: 0.4s; 
$cubic: eas ;

// font family 


// headnging type 
$fz-title: 40px ;
$fz-text: 16px ;
$lh-text: nomarl; 

$fz-text-m: 16px ;
$lh-text-m: nomarl; 

$max-width : 1920px;
$container-width : 1010px;
$pdSection : 90px;
$pdText :70px;

$mgBtn : 50px;
$mgBottom : 33px;
